#drawer {
    width: $drawerWidth;
    transform: translateX(-$drawerWidth);
    background: #161616;
    color: white;

    font-family: Montserrat, sans-serif;

    &.is-open{
        @include transform(translate(0,0));
    }
}
