@import "./common/config";
@import "../libs/theming/mixins";

@include importGoogleFont("Roboto|Montserrat");

@import "./foundation/foundation";

body {
    background: #f5f5f7;
    color: #333333;
    font-family: Roboto, sans-serif;
    &.no-scroll{
        overflow:hidden;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

#content {
    overflow: auto;
}

.grid {
    width: 100%;
}

@import "./partial/content";
@import "./partial/drawer";
@import "./partial/footer";

.tab-container,
.tab-menu {
    background: $dark;
    color: $green;

    .menu {
        li {
            a {
                color: $mainColor;
                border-bottom: 3px solid transparent;
                font-family: 'Roboto Condensed', sans-serif;

                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
}

.tab-container {
    .menu {
        li {
            &.active {
                a {
                    color: $mainColor;
                    border-color: $mainColor;
                }
            }
        }
    }
}

.tab-menu {

    .menu {
        li {
            a {
                &.active {
                    color: $mainColor;
                    border-color: $mainColor;
                }
            }
        }
    }
}
