@import "../../libs/theming/variables";

/****************************
* Parametres
****************************/
$mainColor: $green;
$subColor: $dark;

$drawerWidth : 300px;

$cardRadius : 10px;

$fontFamily: 'Roboto', sans-serif !default;
$fontFamilyCondensed: 'Roboto Condensed', condensed !default;
